If:
  PathMatch: [src/threads/.*, src/tests/threads/.*]

CompileFlags:
  CompilationDatabase: src/vm

---
If:
  PathMatch: [src/userprog/.*, src/tests/userprog/.*]

CompileFlags:
  CompilationDatabase: src/vm

---
If:
  PathMatch: [src/filesys/.*, src/filesys/.*]

CompileFlags:
  CompilationDatabase: src/filesys

---
If:
  PathMatch: [src/vm/.*]

CompileFlags:
  CompilationDatabase: src/vm

---
If:
  PathMatch: src/examples/.*

CompileFlags:
  CompilationDatabase: src/examples
